.tweet-root {
    display: flex;
    background-color: white;
    padding: 10px;
    position: relative;
}

img {
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-userinfo {
    display: flex;
}

.tweet-username {
    color: #1DA1F2;
    margin-right: 5px;
}

.tweet-usertag {
    color: gray;
    font-style: italic;
}

.tweet-message {
    /* background-color: maroon; */
    margin-bottom: 10px;
}

.tweet-datetime {
    /* background-color: mediumvioletred; */
    color: lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}