* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: skyblue;
    margin: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 5vh;
}

.header-title {
    flex-grow: 1;
}

.main-content {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.user-form, .results {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 80vh;
    width: 50vw;
}

.vert-div {
    margin: 60px;
    border: 0.5px solid skyblue;
    opacity: 0.5;
    height: 65vh;
}

.list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.title {
    text-align: center;
    margin: 10px;
}

.form {
    display: flex;
    align-self: center;
    width: 75%;
}

.track-input {
    border: none;
    border-bottom: 1px solid skyblue;
    background-color: transparent;
    flex-grow: 1;
    height: 50px;
    font-size: 35px;
}

.track-input:focus {
    outline: none;
    background-color: rgba(173, 216, 230, 0.1);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.track-btn {
    border: 1px solid skyblue;
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.5);
    flex-grow: 0.5;
    outline: none;
}

.track-btn:hover {
    background-color: rgba(173, 216, 230, 0.7);
    outline: none;
}

.tracked-words {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-self: center;
    align-items: center;
    justify-items: center;
    width: 80%;
}

.word {
    display: flex;
    background-color: skyblue;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.remove-btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 2px;
    margin-left: 5px;
    justify-self: center;
    font-size: 15px;
}

.remove-btn:hover {
    color: white;
}