* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: skyblue;
    margin: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 5vh;
}

.header-title {
    flex-grow: 1;
}

.main-content {
    display: flex;
    /* background-color: springgreen; */
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.user-form, .results {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 80vh;
    width: 50vw;
}

.vert-div {
    margin: 60px;
    border: 0.5px solid skyblue;
    opacity: 0.5;
    height: 65vh;
}

/* .results {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 80vh;
    width: 50vw;
} */

.tweet {
    background-color: springgreen;
}

.list {
    background-color: steelblue;
    flex-grow: 1;
}

.title {
    text-align: center;
}